build
bin
!/CI/bin
/flowReport
gen
captures
.svn
local.properties
test.properties
/*/build.xml
/*/tests/build.xml
eBayMobile_build
.DS_Store
.settings
proguard
*/usage.txt
*/dump.txt

# Android Studio
.idea/*
!/.idea/codeStyles
!/.idea/runConfigurations/
.gradle
*.iws
*.iml


/.metadata/
jacoco.exec
spoon-output
/codecov.sh
